#component-button {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 14px;
    position: absolute;
    bottom: 1vh;
    right: 0.2vw;
}

#component-button .react-datepicker {
    font-size: 1.1rem;
}

#component-button #buttons {
    display: flex;
}

#component-button #buttons > * {
    margin: 0 0.2rem;
}

@media screen and (max-width: 600px) {
    #component-button {
        align-items: center;
        right: 0;
        width: 100vw;
    }
    
}