#component-countdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    min-height: 100vh;
    text-align: center;
    padding: 1.25rem;
}

#component-countdown #days {
    font-size: 6.25rem;
    font-weight: bold;
}

#component-countdown #timer {
    font-size: 4.5625rem;
}

#component-countdown #date {
    font-size: 1rem;
}

@media screen and (max-height: 400px) and (max-width: 600px) {
    #component-countdown #days {
        font-size: 4.375rem;
    }
}

@media screen and (max-width: 450px) {
    #component-countdown #days {
        font-size: 5rem;
    }
}

@media screen and (max-width: 320px) {
    #component-countdown #days {
        font-size: 4.375rem;
    }
    #component-countdown #timer {
        font-size: 3.75rem;
    }
}